.projects-section {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-direction: column;
  display: flex;
}

.projects-container {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  align-items: stretch;
  text-decoration: none;
  display: flex;
}

.single-projects-category {
  display: flex;
}

.projects-category-image-container {
  min-height: 180px;
  min-width: 180px;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: var(--overlay-012);
  border: 1px solid var(--overlay-black-000);
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow:
    0 1px 1px var(--overlay-024),
    0 -1px 1px var(--overlay-024);
}

.projects-category-image-container.devops-img {
  background-image: none;
  background-position: 0 0;
}

.single-projects-content {
  flex-direction: column;
  justify-content: center;
  display: flex;
  gap: 8px;
}

.single-projects-content h3 {
  margin-bottom: 0;
}

.single-projects-content a {
  color: var(--text-primary);
}

.projects-category-image {
  width: 82px;
  height: 82px;
  color: var(--text-primary);
}

@media screen and (max-width: 767px) {
  .projects-container {
    flex-direction: column;
  }

  .projects-category-image-container {
    min-height: 124px;
    min-width: 124px;
    margin-bottom: -42px;
    position: relative;
  }

  .single-projects-content {
    position: relative;
    top: 1.75rem;
  }

  .projects-section {
    grid-column-gap: 68px;
    grid-row-gap: 68px;
  }

  .projects-category-image {
    width: 64px;
    height: 64px;
  }
}
