---
import Header from '../components/Header.astro';
import Project from "../components/Project.astro";
import Sidebar from "../components/Sidebar.astro";
import Icon from "../components/Icon.astro";
import BackNav from "../components/BackNav.astro";
import Footer from "../components/Footer.astro";
const projects = [
  {
    title: "NetCare",
    desc: [
      "Built an infrastructure for a telemedicine startup focusing on remote patient monitoring",
      "Created Azure environment from scratch using Terraform as a IaC tool",
      "Developed a comprehensive CI/CD pipeline for mobile app deployment",
    ],
    tech: ["Terraform", "Azure", "Docker", "Nginx", "GitLab CI/CD"]
  },
  {
    title: "DataMesh",
    desc: [
      "Built an infrastructure for a data analytics platform",
      "Configured VMs and deployed a multi-node Kubernetes cluster on AWS",
      "Designed to handle a high volume of ~5 million data points per day",
      "Integrated Grafana and Prometheus for monitoring",
    ],
    tech: ["Docker", "Kubernetes", "AWS", "Node.js", "RabbitMQ"]
  },
  {
    title: "CloudEase",
    desc: [
      "Migrated a cloud-based CRM system from one provider to another",
      "Built the new GCP infrastructure using Terraform as a IaC tool",
      "Deployed logging and monitoring tools in GKE cluster",
    ],
    tech: ["GCP", "Terraform", "Kubernetes", "GitLab"]
  }
];
---

<!DOCTYPE html>
<html
>
  <Header title="Cloud Infra | Erland Ramdhani" />
  <body>
    <div class="content">
        <Sidebar selectedItem="cloud-infra" />
      <nav class="main">
        <div class="container">
          <BackNav href="/" label="Back" />
          <div class="content-container">
            <h1>Cloud Infra</h1>
            <section class="items-container">
                <div class="resouce-items">
                    {projects.map(project => (
                      <Project 
                        title={project.title} 
                        desc={project.desc}
                        tech={project.tech}
                      />
                    ))}
                  </div>
            </section>
          </div>
        </div>
        <Footer />
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
