---
import SiteLayout from '@layouts/SiteLayout.astro';
import BackNav from '@components/BackNav/BackNav.astro';
import { SITE_DOMAIN } from '@lib/core/env';
import fold from '@/styles/components/fold.module.css';
---

<SiteLayout
  title='Privacy Policy'
  canonical='/privacy-policy/'
  description='Dengan mengakses dan/atau menggunakan layanan di situs ini, Anda dianggap telah membaca, memahami, menyetujui, dan terikat oleh kebijakan privasi ini.'
>
  <BackNav href='/' label='Back' />
  <main class={fold['fold-content-container']}>
    <div class={fold['fold-content']}>
      <h1>Privacy Policy</h1>
      <p>
        Privacy policy ini berlaku antara saya sebagai pemilik situs web 
        {SITE_DOMAIN} 
        (selanjutnya disebut sebagai kami) dan Anda sebagai pengunjung dari situs
        web ini (selanjutnya disebut sebagai Anda).<br /><br />
        Kami sangat menjunjung tinggi privasi Anda. Oleh karena itu, kami menganggap
        perlindungan privasi sebagai hal yang penting dan wajib dijaga. Dengan mengakses
        dan/atau menggunakan layanan di situs ini, Anda dianggap telah membaca, memahami,
        menyetujui, dan terikat oleh kebijakan privasi ini, termasuk setiap perubahan
        di masa mendatang.
      </p>
      <h2>Data yang kami kumpulkan</h2>
      <p>
        Kami hanya menggunakan beberapa informasi kecil yang bersifat publik
        dari Anda untuk digunakan sebagai catatan atau logging pada server kami.
        Selebihnya, kami tidak menyimpan informasi apapun mengenai Anda.<br
        /><br />
        Berikut ini adalah beberapa informasi yang kami kumpulkan beserta tujuan
        penggunaannya.
      </p>
      <h3>Alamat IP</h3>
      <p>
        Setiap kali Anda terhubung ke internet, perangkat Anda akan memiliki
        alamat IP yang diberikan oleh penyedia layanan internet (ISP). Ketika
        Anda mengunjungi situs kami, server kami mencatat alamat IP Anda untuk:
      </p>
      <ul>
        <li>Keperluan audit internal,</li>
        <li>Analisis keamanan,</li>
        <li>Pemantauan performa situs,</li>
        <li>Pencegahan aktivitas yang mencurigakan atau penyalahgunaan.</li>
      </ul>
      <p>
        Data alamat IP ini kami simpan di log server dalam jangka waktu terbatas
        dan tidak dibagikan kepada pihak mana pun.
      </p>
      <h3>Cookies</h3>
      <p>
        Cookies adalah informasi kecil yang disimpan oleh browser Anda saat
        mengunjungi suatu situs. Cookies dapat membantu situs mengingat
        preferensi Anda pada kunjungan berikutnya..<br /><br />
        Kami secara langsung tidak menggunakan cookies untuk keperluan pelacakan.
        Namun, mitra iklan kami, Google LLC, dapat menggunakan cookies untuk menyajikan
        iklan yang sesuai dengan preferensi Anda.<br /><br />
        Setiap pelacakan melalui cookie dilakukan langsung oleh Google melalui server
        mereka dan tunduk pada kebijakan privasi Google. Anda dapat mengatur preferensi
        cookie melalui pengaturan browser Anda, atau mengunjungi:
      </p>
      <ul>
        <li>
          <a href='https://adssettings.google.com'
            >https://adssettings.google.com</a
          > untuk mengatur preferensi iklan,
        </li>
        <li>
          <a href='https://policies.google.com/technologies/ads'
            >https://policies.google.com/technologies/ads</a
          > untuk mempelajari lebih lanjut tentang cookie dan iklan yang ditayangkan
          oleh Google.
        </li>
      </ul>
      <h2>Informasi Kontak</h2>
      <p>
        Jika Anda memiliki pertanyaan tentang kebijakan privasi di blog ini,
        Anda dapat menghubungi saya melalui email <a
          href={`mailto:hello@${SITE_DOMAIN}`}
          >hello@{SITE_DOMAIN}</a
        >.
      </p>
      <h2>Pembaruan</h2>
      <p>
        Halaman kebijakan privasi ini terakhir diperbarui pada Senin, 1 September 2025.
      </p>
    </div>
  </main>
</SiteLayout>
