---
import Icon from "./Icon.astro";
import styles from "./BackNav/back-nav.module.css";

interface Props {
  href: string;
  label?: string;
}

const { href, label = 'Back' } = Astro.props as Props;
---

<div class={styles["back-nav-container"]}>
  <a href={href} class:list={[styles["back-nav-button"], 'w-inline-block']}>
    <Icon name="back" class={styles["back-nav-img"]} />
    <div>{label}</div>
  </a>
  
</div>
