---
/**
 * PortfolioCategoryCard Component
 *
 * Renders a card for a portfolio project category.
 * Used in index.astro and portfolio.astro.
 */
import Icon from '@components/Icon.astro';
import pf from '@/pages/portfolio/styles/_portfolio.module.css';
import chips from '@/styles/pages/chips.module.css';
import type { ProjectCategory } from '@lib/content/portfolio';

interface Props {
  project: ProjectCategory;
}

const { project } = Astro.props;
---

<div class={pf['projects-container']}>
  {/* Category Icon */}
  <div class={pf['single-projects-category']}>
    <div
      class={pf['projects-category-image-container'] +
        (project.extraImageClass ? ' ' + project.extraImageClass : '')}
    >
      <Icon name={project.icon} class={pf['projects-category-image']} />
    </div>
  </div>

  {/* Category Content - Title and tech stack */}
  <div class={pf['single-projects-content']}>
    <h3>
      <a href={project.href}>{project.title}</a>
    </h3>

    {/* Technologies & Tools - Chips/badges display */}
    <div class={chips['tech-tools-container']}>
      <div class:list={[chips['mini-label-white'], chips['gray-color']]}>
        Technologies &amp; tools
      </div>
      <div
        class:list={[
          chips['chips-container'],
          chips['chips-container-small-width'],
        ]}
      >
        {
          project.tags.map(tag => (
            <div class:list={[chips['single-chip'], chips['small-chip']]}>
              {tag}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>
