---
import SiteLayout from "../../layouts/SiteLayout.astro";
import Project from '../../components/Project.astro';
import BackNav from "../../components/BackNav.astro";
const projects = [
  {
    title: "TeleJS",
    desc: [
      "Built a lightweight, open-source Slack API framework for efficient bot development",
      "Developed in Node.js and published as an NPM package"
    ],
    tech: ["Node.js", "NPM"]
  },
  {
    title: "pyPrompter",
    desc: [
      "Contributed to a popular open-source Python pip package for building interactive CLIs",
      "Developed a feature that lets you 'freeze' inquirer choices"
    ],
    tech: ["Python"]
  },
  {
    title: "WebAssetHub",
    desc: [
      "Created a web scraper tool that monitors digital assets across multiple platforms and offers them at competitive prices",
      "Sold over 700 items"
    ],
    tech: ["Python", "Selenium"]
  }
];
---

<SiteLayout title="Personal Projects" selectedItem="personal-projects">
  <BackNav href="/portfolio/" label="See Other Portfolios" />
  <div class="content-container">
    <h1>Personal Projects</h1>
    <section class="items-container">
      <div class="resouce-items">
        {projects.map(project => (
          <Project 
            title={project.title} 
            desc={project.desc}
            tech={project.tech}
          />
        ))}
      </div>
    </section>
  </div>
</SiteLayout>
